/* TestType.css */

.test-type-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .test-type-container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .test-type-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .test-type-table th,
  .test-type-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .test-type-table th {
    background-color: #f4f4f4;
  }
  
  .test-type-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .edit-btn:hover {
    background-color: #0056b3;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .update-form {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
  }
  
  .update-form h2 {
    margin-top: 0;
  }
  
  .update-form label {
    display: block;
    margin: 10px 0;
  }
  
  .update-form .input-field {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .update-form .update-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .update-form .update-btn:hover {
    background-color: #218838;
  }
  
  .update-form .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: red;
  }
  